.save{
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
  position: fixed;
  bottom: 110px;
  display: none;
  right: 20px;
  &:hover{
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  }
}
